@import "./config";
@import "./type";
@import "node_modules/bootstrap/scss/mixins";



.whitepaper {
	background-color: $blue-dark;
	color: $white;
	height: 400px;

  display: flex;
  justify-content: center;
	align-items: center;

	@include media-breakpoint-down(xl) {
		height: 330px;
	}
	@include media-breakpoint-down(lg) {
		height: 260px;
	}
}

.whitepaper-left {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	@include media-breakpoint-down(md) {
		display: none;
	}

	.whitepaper-left-img {
		width: 30rem;

		@include media-breakpoint-down(xl) {
			width: 25rem;
		}
		@include media-breakpoint-down(lg) {
			width: 20rem;
		}
	}
}

.whitepaper-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	width: 50%;
	height: 100%;

	@include media-breakpoint-down(md) {
		width: 100%;
	}
}

.whitepaper-right .whitepaper__text {
	color: $white;
	margin: 1rem 0;
}

.whitepaper__download {
	display: flex;
	width: 50%;
	margin: 1rem 0;

	.whitepaper__download-text {
		margin-right: 1rem;
		color: $white;
	}
}

.whitepaper__icon {
	width: 48px;
	height: 48px;
	margin: 0;
}
